:root {
	--b-c-white-0: #ffffff;
	--b-c-blue-0: #00aeec;
	--b-c-cyan-blue-0: #00bac5;
	--b-c-pink-0: #fb7299;
	--b-c-orange-0: #e58900;
	--b-c-gray-0: #f6f7f8;
	--b-c-gray-1: #f1f2f3;
	--b-c-gray-2: #e3e5e7;
	--b-c-gray-3: #c9ccd0;
	--b-c-gray-4: #aeb3b9;
	--b-c-gray-5: #9499a0;
	--b-c-gray-6: #797f87;
	--b-c-gray-7: #61666d;
	--b-c-gray-8: #484c53;
	--b-c-gray-9: #2f3238;
	--b-c-gray-10: #18191c;
	--b-c-text-primary: var(--b-c-gray-10);
	--b-c-text-secondly: var(--b-c-gray-7);
	--b-c-text-thirdly: var(--b-c-gray-5);
	--b-c-text-fourthly: var(--b-c-gray-3);
	--b-c-text-link: var(--b-c-cyan-blue-0);
	--b-c-text-notice: var(--b-c-orange-0);
	--b-c-text-regular: var(--b-c-gray-7);
	--b-c-text-active: var(--b-c-blue-0);
	--b-c-line-light: var(--b-c-gray-1);
	--b-c-line-regular: var(--b-c-gray-2);
	--b-c-line-bold: var(--b-c-gray-3);
	--b-c-bg-primary: var(--b-c-white-0);
	--b-c-bg-secondly: var(--b-c-gray-0);
	--b-c-bg-thirdly: var(--b-c-gray-1);
}

/* 隐藏 el-memu 滚轮 */
// ::-webkit-scrollbar {
// 	display: none;
// }

/* 修复火狐浏览器的滚轮样式问题 */
* {
	scrollbar-width: none;
}
input {
	outline: none;
}
.el-main {
	box-sizing: border-box;
	padding: 0 !important;
}
.message-box-custom-class {
	min-width: 350px !important;
}
.el-popover.el-popper {
	background: var(--el-bg-color-overlay) !important;
}
