:root {
	--b-c-default-blue: #00aeec;
	--b-c-dark-black: #18191c;
	--b-c-black: #212121;
	--b-c-white: #f1f2f3;
	--b-c-light-gray: #e3e5e7;
	--b-c-default-gray: #9499a0;
	--b-c-dark-gray: #61666d;
	--b-c-line-regular: var(--b-c-light-gray);
	--b-c-default-inactive: var(--b-c-dark-gray);
	--b-c-default-active: var(--b-c-default-blue);
}

/* 隐藏 el-memu 滚轮 */
// ::-webkit-scrollbar {
// 	display: none;
// }

/* 修复火狐浏览器的滚轮样式问题 */
* {
	scrollbar-width: none;
}
input {
	outline: none;
}
.el-main {
	box-sizing: border-box;
	padding: 0 !important;
}
.message-box-custom-class {
	min-width: 350px !important;
}
.el-popover.el-popper {
	background: var(--el-bg-color-overlay) !important;
}
