:root {
	--w-e-default-blue: #00aeec;
	--w-e-black-1: #18191c;
	--w-e-black-2: #212121;
	--w-e-gray-1: #e3e5e7;
	--w-e-gray-2: #9499a0;
	--w-e-gray-3: #61666d;
	--w-e-line-regular: var(--w-e-gray-1);
	--w-e-inactive: var(--w-e-gray-3);
	--w-e-active: var(--w-e-default-blue);
}

/* 隐藏 el-memu 滚轮 */
// ::-webkit-scrollbar {
// 	display: none;
// }

/* 修复火狐浏览器的滚轮样式问题 */
* {
	scrollbar-width: none;
}
input {
	outline: none;
}
.el-main {
	box-sizing: border-box;
	padding: 0 !important;
}
.message-box-custom-class {
	min-width: 350px !important;
}
.el-popover.el-popper {
	background: var(--el-bg-color-overlay) !important;
}
