@keyframes hover {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-4px);
	}
	100% {
		transform: translateY(0);
	}
}
.entry-item {
	color: var(--text-color);
	.entry-default {
		@apply 2xl:mr-4 xl:mr-3 mr-2 inline-block h-16 text-[14px] leading-[64px];

		color: var(--text-color);
		&:hover {
			animation: hover 0.3s ease-in-out;
		}
	}
	.entry-title {
		@apply flex items-center 2xl:mr-4 xl:mr-3 mr-2 text-[14px];
		.entry-svg {
			@apply mr-[6px];
		}
		.entry-logo {
			@apply w-[60px] mr-[25px] cursor-pointer;
		}
	}
	.entry-outside {
		@apply 2xl:min-w-[50px] xl:min-w-[45px] min-w-[40px] flex flex-shrink-0 flex-col items-center mr-0 text-tiny text-center;
	}
	.entry-icon {
		@apply mb-[2px];
		&:hover {
			animation: hover 0.3s ease-in-out;
		}
	}
}
